<div class="wrap wrapz">
    <div id="spc-flex-block">
        <div id="successful-payment__wrap">
            <div id="successful-payment">
            <div class="successful-payment-back-to-main__block"><img class="successful-payment-back-to-main__img" src="../images/cross.svg" alt="x"></div>
            <div class="successful-payment-image__block"><img class="successful-payment-image" src="../images/checkmark.svg" alt=""></div>
            <div class="successful-payment-text__block"><p class="successful-payment-text">Оплачено <%- price %></p></div>
            </div>
        </div>
        <section id="section-fisrt">
            <div class="back-to-payment__block">
                <img class="back-to-payment__img" src="../images/arrow.svg" alt="">
            </div>
            <div class="title-confirmation__block">
                <p class="title-confirmation">Маршрут</p>
            </div>
            <div class="path-text__block">
                <p class="path-text"><%- routes %>, <span class="bold-path__text">№<%- tripNum %></span></p>
            </div>
            <div class="your-geo__wrap">
                <div class="your-geo__block">
                    <div class="your-geo-path-img__block">
                        <div class="your-geo-trip-confirm__icon">
                            <div class="your-geo-trip-confirm-circle"></div>
                            <div class="your-geo-trip-confirm-rect"></div>
                        </div>


                    </div>
                    <div class="your-geo-text__block">
                        <div class="your-geo-title-station"><span class="your-geo-title-station-bold"><%- station %></span></div>
                        <div class="your-geo-useless-text">Вы сейчас здесь</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="section-second">
            <div class="price__block">
                <div class="price__text"> <p><span class="bold-price__text"><%- price %></span>₽</p></div>
            </div>
            <div class="confirm__block">
                <button class="confirm__btn">Со счета</button>
            </div>
        </section>
    </div>
</div>
<script> 
    $(document).ready(()=>{
        $('#spc-flex-block').css({'height': window.outerHeight, 'box-sizing' : 'border-box'})
        $('.back-to-payment__img').on('click', ()=>{
            router('/payment')
        })
    })
</script>